                    <div class="bx--structured-list-row">
                        <div class="bx--structured-list-td app--type-mono-scale_5">{{EMPNO}}</div>
                        <div class="bx--structured-list-td app--type-scale_5">{{FIRSTNME}}</div>
                        <div class="bx--structured-list-td app--type-scale_5">{{LASTNAME}}</div>
                        <div class="bx--structured-list-td app--type-scale_3">{{DEPTNAME}} <span class="app--type-mono-scale_2 app--text-red50">({{WORKDEPT}})</span></div>
                        <div class="bx--structured-list-td app--type-scale_5 app--background-green10">{{EDLEVEL}}</div>
                        <div class="bx--structured-list-td app--type-scale_5 app--text-blue80" style="text-align:right">{{SALARY}}</div>
                    </div>
