<span class="app--productive-heading-04">Database informations</span><br />
<span class="app--type-mono-scale_4">DBMS name: {{db_infos.sql_dbms_name}}</span><br />
<span class="app--type-mono-scale_4">DBMS version: {{db_infos.sql_dbms_ver}}</span><br />
<span class="app--type-mono-scale_4">DBMS function level: {{db_infos.sql_dbms_functionlvl}}</span><br />
<span class="app--type-mono-scale_4">SQL server name: {{db_infos.sql_server_name}}</span><br />
<span class="app--type-mono-scale_4">SQL driver name: {{db_infos.sql_driver_name}}</span><br />
<span class="app--type-mono-scale_4">SQL driver version: {{db_infos.sql_driver_ver}}</span>
