<span class="app--productive-heading-04">System informations</span><br />
{{#if system.docker}}<span class="app--type-mono-scale_4">Run in docker container: <span class="app--text-success">Yes</span></span><br />{{/if}}
{{#if system.kubepods}}<span class="app--type-mono-scale_4">Run in Kubernetes pods: <span class="app--text-success">Yes</span></span><br />{{/if}}
<span class="app--type-mono-scale_4">Hostname: {{system.hostname}}</span><br />
<span class="app--type-mono-scale_4">OS name: {{system.os_name}}</span><br />
<span class="app--type-mono-scale_4">OS version: {{system.os_version}}</span><br />
<span class="app--type-mono-scale_4">Architecture: {{system.arch}}</span><br />
<span class="app--type-mono-scale_4">Platform: {{system.platform}}</span><br />
<span class="app--type-mono-scale_4">Type: {{system.type}}</span><br />
<span class="app--type-mono-scale_4">Cpus Nb: {{system.cpus.length}}</span><br />
<span class="app--type-mono-scale_4">Endianness: {{system.endianness}}</span><br />
<span class="app--type-mono-scale_4">Mem free / total: {{[../hdb_helpers/helper_formatMemNb] system.freemem}} / {{[../hdb_helpers/helper_formatMemNb] system.totalmem}}</span><br />
