                    <div class="bx--structured-list-row">
                        <div class="bx--structured-list-td app--type-mono-scale_2">{{EMPNO}}</div>
                        <div class="bx--structured-list-td">{{FIRSTNME}}</div>
                        <div class="bx--structured-list-td">{{LASTNAME}}</div>
                        <div class="bx--structured-list-td">{{WORKDEPT}}</div>
                        <div class="bx--structured-list-td">{{EDLEVEL}}</div>
                        <div class="bx--structured-list-td app--label-01">{{SALARY}}</div>
                    </div>
