<span class="app--productive-heading-01">System informations</span><br />
{{#if system.docker}}<span class="app--type-mono-scale_2">Run in docker container: <span class="app--text-success">Yes</span></span><br />{{/if}}
{{#if system.kubepods}}<span class="app--type-mono-scale_2">Run in Kubernetes pods: <span class="app--text-success">Yes</span></span><br />{{/if}}
<span class="app--type-mono-scale_2">Hostname: {{system.hostname}}</span><br />
<span class="app--type-mono-scale_2">OS name: {{system.os_name}}</span><br />
<span class="app--type-mono-scale_2">OS version: {{system.os_version}}</span><br />
<span class="app--type-mono-scale_2">Architecture: {{system.arch}}</span><br />
<span class="app--type-mono-scale_2">Platform: {{system.platform}}</span><br />
<span class="app--type-mono-scale_2">Type: {{system.type}}</span><br />
<span class="app--type-mono-scale_2">Cpus Nb: {{system.cpus.length}}</span><br />
<span class="app--type-mono-scale_2">Endianness: {{system.endianness}}</span><br />
<span class="app--type-mono-scale_2">Mem free / total: {{[../hdb_helpers/helper_formatMemNb] system.freemem}} / {{[../hdb_helpers/helper_formatMemNb] system.totalmem}}</span><br />
