<span class="app--productive-heading-01">Database informations</span><br />
<span class="app--type-mono-scale_2">DBMS name: {{db_infos.sql_dbms_name}}</span><br />
<span class="app--type-mono-scale_2">DBMS version: {{db_infos.sql_dbms_ver}}</span><br />
<span class="app--type-mono-scale_2">DBMS function level: {{db_infos.sql_dbms_functionlvl}}</span><br />
<span class="app--type-mono-scale_2">SQL server name: {{db_infos.sql_server_name}}</span><br />
<span class="app--type-mono-scale_2">SQL driver name: {{db_infos.sql_driver_name}}</span><br />
<span class="app--type-mono-scale_2">SQL driver version: {{db_infos.sql_driver_ver}}</span>
